@model IEnumerable<WebApplication12.Models.ViewModel.OrderDetailViewModel>

@{
    ViewBag.Title = "ViewOrder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">View Order</li>
    </ol>
</div><!--/.row-->
<!-- Main content -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                View Order


            </div>
            <div class="panel-body">
                <div class="box-body">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.productID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.title)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.quantity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.unitPrice)
                            </th>

                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>

                                    @Html.DisplayFor(modelItem => item.productID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.unitPrice)
                                </td>

                            </tr>
                        }

                    </table>
                    @using (Html.BeginForm())
                    {
                        <input type="submit" value="Confirm Order" class="btn btn-info" />

                    }
                </div>
            </div>
        </div>
    </div>
</div>



